:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --white: #FFFFFF;
  --black: #1C1C1C;

  --gray-00: #F0F0F0;
  --gray-10: #DFDFDF;
  --gray-20: #9E9E9E;

  --primary-00: #5A84C0;
  --primary-10: #594ED2;
}

body {
  margin: 0;
}

